In [2]:
import os
os.chdir("../..")
%pwd

'c:\\Users\\Markus\\Documents\\Cambridge_Projects\\GroupProject\\conservation_synthesis'

In [27]:
from sources.data_processing.repositories import CrossrefRepository, OpenAireRepository, CoreRepository
from sources.data_processing.queries import ArticleMetadata, Response, KeywordQuery
import pandas as pd
import asyncio
import aiohttp

In [30]:
async def execute_something(repo, query):
    async with aiohttp.ClientSession() as session:
        search_body, search_params = repo._query_to_params(query)
        r = await session.post(
                repo.api_endpoint, data=search_body, params=search_params)
        return r

In [6]:
import requests
response = requests.head("https://core.ac.uk:443/api-v2/articles/search")

In [ ]:
query = KeywordQuery(
            1,
            authors=[
                "H. John",
                "B. Birks",
            ],  # TODO Authors are wrongly formatted at some parts!
            title=r"Ecological palaeoecology and conservation biology: controversies, challenges, and compromises",
            journal_name=None,
            doi="10.1080/21513732.2012.701667",
            start_date=None,
            end_date=None,
        )
response = await execute_something(CoreRepository(), query)

In [ ]:
data = pd.read_csv("data/cleaned_references.csv")

In [ ]:
data.head()

In [ ]:
data

In [ ]:
class Test():
    def __init__(self):
        self._henlo = 10

    calculated = None
    @property
    def test_attr(self):
        if calculated is None:
            calculated = 5 + 5
            print("Complex Calc")
        return calculated

In [ ]:
t1 = Test()
t2 = Test()

t1.test_attr

In [ ]:
t1.test_attr = 5

In [ ]:
t2.test_attr

In [31]:
t2.test_attr

In [38]:
data = pd.read_csv("data/cleaned_references.csv")

In [44]:
data.head()

,index,item_type,pub_year,authors,title,pub_title,isbn,issn,doi,url,...,n_pages,issue,volume,n_volumes,journal_abbrev,short_title,series,series_num,data_source,topic
0,1,journal,1994.0,"Vickery, J. A.; Sutherland, W. J.; Lane, S. J.",Provide sacrificial grasslands to reduce the i...,Journal of Applied Ecology,NaN,NaN,NaN,NaN,...,NaN,0,31,NaN,NaN,NaN,NaN,NaN,CE_website,Farmland
1,2,journal,1994.0,"Vickery, J. A.; Sutherland, W. J.; Lane, S. J.",Employ grazing in artificial grasslands/pastures,Journal of Applied Ecology,NaN,NaN,NaN,NaN,...,NaN,0,31,NaN,NaN,NaN,NaN,NaN,CE_website,Birds
2,3,journal,1994.0,"Vickery, J. A.; Sutherland, W. J.; Lane, S. J.",Fertilize artificial grasslands,Journal of Applied Ecology,NaN,NaN,NaN,NaN,...,NaN,0,31,NaN,NaN,NaN,NaN,NaN,CE_website,Birds
3,4,journal,1994.0,"Vickery, J. A.; Sutherland, W. J.; Lane, S. J.",Mow or cut semi-natural grasslands/pastures,Journal of Applied Ecology,NaN,NaN,NaN,NaN,...,NaN,0,31,NaN,NaN,NaN,NaN,NaN,CE_website,Birds
4,5,journal,1994.0,NaN,Provide sacrificial grasslands to reduce the i...,Journal of Applied Ecology,NaN,NaN,NaN,NaN,...,NaN,0,31,NaN,NaN,NaN,NaN,NaN,CE_website,Farmland

In [10]:
data

,index,item_type,pub_year,authors,title,pub_title,isbn,issn,doi,url,...,n_pages,issue,volume,n_volumes,journal_abbrev,short_title,series,series_num,data_source,topic
0,1,journal,1994.0,"Vickery, J. A.; Sutherland, W. J.; Lane, S. J.",Provide sacrificial grasslands to reduce the i...,Journal of Applied Ecology,NaN,NaN,NaN,NaN,...,NaN,0,31,NaN,NaN,NaN,NaN,NaN,CE_website,Farmland
1,2,journal,1994.0,"Vickery, J. A.; Sutherland, W. J.; Lane, S. J.",Employ grazing in artificial grasslands/pastures,Journal of Applied Ecology,NaN,NaN,NaN,NaN,...,NaN,0,31,NaN,NaN,NaN,NaN,NaN,CE_website,Birds
2,3,journal,1994.0,"Vickery, J. A.; Sutherland, W. J.; Lane, S. J.",Fertilize artificial grasslands,Journal of Applied Ecology,NaN,NaN,NaN,NaN,...,NaN,0,31,NaN,NaN,NaN,NaN,NaN,CE_website,Birds
3,4,journal,1994.0,"Vickery, J. A.; Sutherland, W. J.; Lane, S. J.",Mow or cut semi-natural grasslands/pastures,Journal of Applied Ecology,NaN,NaN,NaN,NaN,...,NaN,0,31,NaN,NaN,NaN,NaN,NaN,CE_website,Birds
4,5,journal,1994.0,NaN,Provide sacrificial grasslands to reduce the i...,Journal of Applied Ecology,NaN,NaN,NaN,NaN,...,NaN,0,31,NaN,NaN,NaN,NaN,NaN,CE_website,Farmland
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30988,30989,journalArticle,2017.0,"Wood, J. K.; Gold, W. G.; Fridley, J. L.; Ewin...",An analysis of factors driving success in ecol...,Ecological Restoration,NaN,NaN,10.3368/er.35.1.60,https://www.scopus.com/inward/record.uri?eid=2...,...,NaN,1,35,NaN,NaN,NaN,NaN,NaN,post_2016_DB,Wetland
30989,30990,journalArticle,2019.0,"Yando, Erik S.; Osland, Michael J.; Jones, Sco...",Jump-starting coastal wetland restoration: a c...,Restoration Ecology,NaN,NaN,NaN,NaN,...,NaN,5,27,NaN,NaN,NaN,NaN,NaN,post_2016_DB,Wetland
30990,30991,journalArticle,2018.0,"Zhang, M.; Wang, Y.; Li, B.; Feng, Z.; Zhao, Y...",Synergistic succession of the small mammal com...,Mammal Study,NaN,NaN,10.3106/ms2017-0043,https://www.scopus.com/inward/record.uri?eid=2...,...,NaN,NaN,43,NaN,NaN,NaN,NaN,NaN,post_2016_DB,Wetland
30991,30992,journalArticle,2014.0,"Zhong, Y.; Liu, Q.; Liu, C.; Su, Z.; Sun, Y.; ...",The impacts of burrowing activities of introdu...,Acta Theriologica Sinica,NaN,NaN,NaN,https://www.scopus.com/inward/record.uri?eid=2...,...,NaN,1,34,NaN,NaN,NaN,NaN,NaN,post_2016_DB,Wetland
30992,30993,journalArticle,2014.0,"Zhu, Z.; Bouma, T. J.; Ysebaert, T.; Zhang, L....",Seed arrival and persistence at the tidal mudf...,Marine Ecology Progress Series,NaN,NaN,10.3354/meps10920,https://www.scopus.com/inward/record.uri?eid=2...,...,NaN,NaN,513,NaN,NaN,NaN,NaN,NaN,post_2016_DB,Wetland

In [50]:
class Test():
    def __init__(self):
        self._henlo = 10

    calculated = None
    @property
    def test_attr(self):
        if calculated is None:
            calculated = 5 + 5
            print("Complex Calc")
        return calculated

In [51]:
t1 = Test()
t2 = Test()

t1.test_attr

10

In [52]:
t1.test_attr = 5

In [53]:
t2.test_attr

10